@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

/* html {
	background-color: #4B87FA;
} */

h2 {
	text-align: center;
	color: white;
}

body {
	align-items: center;
	background: #1b5dc0;
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	padding: 10px;
	font-family: 'Merriweather Sans', sans-serif;
}

.board {
	display: flex;	
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.title-container {
	display: flex;
	justify-content: space-between;
	width: 700px;
	align-items: center;
}

button {
	height: 30px;
	width: 80px;
	border-radius: 10px;
	background-color: #1D61F0;
	border: solid 3px #4B87FA;
	color: white;
	font-size: small;
	cursor: pointer;
}

.row {
	display: flex;
	flex-direction: row;
	background-color: #1D61F0;
}

.cell {
	height: 92px;
	width: 92px;
	cursor: pointer;
	margin: 4px;
}

.top-edge {
	width: 720px;
	height: 20px;
	background-color: #1D61F0;
	border-radius: 5px 5px 0px 0px;
	border-top: solid 6px #4B87FA;
	border-left: solid 6px #4B87FA;
	border-right: solid 6px #4B87FA;
}

.bottom-edge {
	width: 720px;
	height: 10px;
	background-color: #1D61F0;
	border-radius: 0px 0px 5px 5px;
	border-bottom: solid 6px #4B87FA;
	border-left: solid 6px #4B87FA;
	border-right: solid 6px #4B87FA;
}

.left-edge {
	width: 10px;
	height: 100px;
	border-left: solid 6px #4B87FA;
}

.right-edge {
	width: 10px;
	height: 100px;
	border-right: solid 6px #4B87FA;
}

.empty {
	background-image: url(../images/empty.jpg);
}

.red {
	background-image: url(../images/red.jpg);
}

.yellow {
	background-image: url(../images/yellow.jpg);
}

.redblink {
	background-image: url(../images/red.jpg);
}

.yellowblink {
	background-image: url(../images/yellow.jpg);
}

.redtint {
	background-image: url(../images/redtint.jpg);
}

.yellowtint {
	background-image: url(../images/yellowtint.jpg);
}

.redwin {
	background-image: url(../images/redwin.jpg);
}

.yellowwin {
	background-image: url(../images/yellowwin.jpg);
}